section.question-section {
  padding: 10px;

  .poster {
    img {
      width: 250px;
      height: 380px;
    }
  }
  .question {
    width: 100%;
    h4{
      display: flex;
      justify-content: center;

    }
    ul.answer-choices {
      list-style: none;
      padding: 0 25px;
      display: flex;

      flex-direction: row;
      flex-wrap: wrap;

      li.choice {
        flex: 1 33%
      }
    }
  }
}