.navigation-wrapper {
  padding: 10px 5px;
  display: flex;
  justify-content: space-evenly;
  
  button.nav-button {
    padding: 2px;
  }

  button {
    width: 22px;
    margin: 0 2px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 12px;
  }

  button.active{
    background-color: red;
  }
}