.navigation-wrapper {
  padding: 10px 5px;
  display: flex;
  justify-content: space-evenly;
  
  button {
    width: 25px;
    margin: 0 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  button.active{
    background-color: red;
  }
}